.rodape{ position:absolute; background-color:#1c1c1c; width:100%; }
.nossaFonte{color:#b5b5b5;font-size:14px; font-family:Tahoma, Geneva, sans-serif; text-align:center; padding-top:7px}
.bordaFfm{background-color:#C6C6C6;border-radius:10px; padding-left: 70px;padding-top: 30px}
.estiloTabela{  background-color:#009ACD!important;color:#FFFFFF;}