<div class="navbar">
    <div class="navbar-inner">
        <a class="brand">Pesquisar</a>
        <ul class="nav">
            <li><a href="relatorioAlunoAtivo.php">Aluno</a></li>
            <li><a href="relatorioProfessorAtivo.php">Professor</a></li>
            <li><a href="relatorioCurso.php">Curso</a></li>
            <li><a href="relatorioTurma.php">Turma</a></li>
            <li><a href="relatorioMateria.php">Materia</a></li>
            <li><a href="preRelatorioMateriaTurmaCurso.php">Atribuição de Materias</a></li>
            <li><a href="preRelatorioMatriculaCurso.php">Matricula</a></li>
            <li><a href="preFrequenciaCurso.php">Frequencia</a></li>
        </ul>
    </div>
</div>